@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Code:wght@400;500;600;700&family=Kenia&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Slabo+27px&display=swap');

:root {
  --color-off-white: #FEFBEA;
  --color-off-white_darker: #efe1d2;
  --color-gray: #333333;
  --gap: 1rem;
  --scroll-padding-top: 7rem;
  --fa-primary-color: #1711d6
}

/* Resets */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  color: var(--color-off-white);
  overflow-x: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

::selection {
  color: black;
  background: var(--color-off-white);
}

::-webkit-selection {
  color: black;
  background: var(--color-off-white);
}

::-webkit-scrollbar {
  width: 10px;
  background: black;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background: var(--color-off-white);
  border-radius: 3rem;
}

/* End Resets */

/* Primary Header */
header {
  background: black;
  border-bottom: 2px solid var(--color-off-white);
  box-shadow: 0 1px 3px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.06),0 0 2px rgba(0,0,0,.07);
  width: 100%;
  position: fixed;
  z-index: 800;
  top: 0;
}

#header-logo {
  margin: 1rem;
  height: 4rem;
  border-bottom: 3px solid transparent;
  transition: border-bottom 500ms ease;
}

#header-logo:hover {
  border-bottom: 3px solid var(--color-off-white);
}

#primary-header {
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
  overflow-y: hidden;
}

.mobile-nav-toggle {
  display: none;
  cursor: pointer;
}

.primary-navigation {
  list-style: none;
  align-items: center;
}

.primary-navigation a {
  text-decoration: none;
  color: var(--color-off-white);
  font-weight: 700;
}

.primary-navigation a:not(#resume-link) {
  border-left: 2px solid var(--color-off-white);
  padding-left: 1rem;
  padding-top: 100%;
  padding-bottom: 100%;
  text-decoration: none;
  transition: all 300ms ease;
}

.nav-link_last {
  border-right: 2px solid var(--color-off-white);
  padding-right: 1rem;
}

.primary-navigation a:not(#resume-link):hover {
  text-decoration: underline;
}

.primary-navigation a:not(#resume-link):active {
  text-decoration: underline;
}

.primary-navigation a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.75em;
  color: var(--color-off-white);
  font-family: Fira Code, Roboto Mono, monospace;
}

#resume-link {
  color: black;
  background: var(--color-off-white);
  padding: 10px;
  border-radius: 8px;
  transition: all 300ms ease;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  width: fit-content
}

#resume-link:hover, #resume-link:active {
  transform: scale(1.05);
}

#hero {
  padding-top: 7rem;
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0%;
  }

  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@-webkit-keyframes slide-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0%;
  }

  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0%
  }

  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@-webkit-keyframes slide-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0%
  }

  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes slide-from-top {
  0% {
    transform: translateY(-300%);
    opacity: 0%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@-webkit-keyframes slide-from-top {
  0% {
    transform: translateY(-300%);
    opacity: 0%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes slide-from-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@-webkit-keyframes slide-from-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-20px);}
  60% {transform: translateY(-10px);}
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-20px);}
  60% {transform: translateY(-10px);}
}

.screen {
  width: 55%;
  max-width: 400px;
  aspect-ratio: 1;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 5rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% 100%;
  }
}

@-webkit-keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% 100%;
  }
}

.screen-overlay {
  background: linear-gradient(
    transparent, transparent 6px, var(--color-gray) 6px, var(--color-gray) 9px
  );
  background-size: 100% 9px;
  height: 100%;
  width: 100%;
  animation: pan-overlay 22s infinite linear;
  -webkit-animation: pan-overlay 22s infinite linear;
}

.screen-wrapper {
  position: absolute;
  z-index: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 12rem;
  left: 0;
  width: 100%;
  height: 55vw;
  max-height: 400px;
}

.hero-big {
  font-size: clamp(50px, 8vw, 140px);
  color: var(--color-off-white);
  font-weight: 900;
  text-align: center;
  line-height: 1;
}


#hero-big_1 {
  animation: 0.75s ease-out 0s 1 both slide-from-left;
  -webkit-animation: 0.75s ease-out 0s 1 both slide-from-left;
}

#hero-big_2 {
  font-style: italic;
  color: var(--color-off-white);
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 4px var(--color-off-white);
  animation: 0.75s ease-out 0.5s 1 both slide-from-right;
  -webkit-animation: 0.75s ease-out 0.5s 1 both slide-from-right;
}

#hero-big_3 {
  animation: 0.5s ease-out 1s 1 both slide-from-bottom;
  -webkit-animation: 0.5s ease-out 1s 1 both slide-from-bottom;
}

.hero-3_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero-small {
  color: var(--color-off-white);
  font-size: clamp(16px, 2.7vw, 43px);
  font-weight: 900;
  animation: 0.5s ease-out 1.5s 1 both slide-from-right;
  -webkit-animation: 0.5s ease-out 1.5s 1 both slide-from-right;
}

.hero-small_top {
  font-family: 'Anton', sans-serif;
  font-style: italic;
}

.hero-small_bottom {
  font-family: 'Slabo 27px', serif;
  font-style: normal;
}

#hero-button {
  display: flex;
  border: 1px solid var(--color-off-white);
  padding: 1rem;
  width: fit-content;
  align-items: center;
  gap: 0.5rem;
  font-weight:900;
  border-radius: 8px;
  text-decoration: none;
  color: var(--color-off-white);
  background: black;
  transition: all 0.3s ease;
  font-size: 24px;
  margin-right: 100px;
  animation: 1s ease-out 2s 1 both bounce;
  -webkit-animation: 1s ease-out 2s 1 both bounce;
}

.hero-button_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.started-2, .hero-button_main {
  font-style: italic;
}

#hero-button:hover .hero-button_main, #hero-button:hover .started-2 {
  color: var(--color-off-white);
  -webkit-text-stroke: 1px var(--color-off-white);
  -webkit-text-fill-color: black;
}

#about-me, #projects, #resume, #contact-me {
  scroll-margin-top: 7rem;
}

section {
  margin-bottom: 75px;
}

.main-section {
  /* border: 1px solid var(--color-off-white); */
  padding: 1rem;
  margin-inline: 1rem;
  min-height: 75vh;
  position: relative;
}

.section-title {
  font-family: 'Kenia', cursive;
  color: var(--color-off-white);
  position: absolute;
  top: none;
  bottom: 0;
  font-size: clamp(75px, 12vw, 180px);
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: normal;
  opacity: 60%;
  z-index: 100;
}

.about-me_wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 500;
  font-size: 20px;
  z-index: 200;
  margin-top: 5rem;
}

.about-me_profile {
  padding: 1rem;
  border-radius: 8px;
  background: rgba(0,0,0,.5);
  margin-block: 4rem;
}

.about-me_aside {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me_aside h3 {
  font-size: 24px;
  border-bottom: 2px solid var(--color-off-white);
  text-align: center;
}

.about-me_aside ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  grid-template-columns: auto;
  margin-top: 1.5rem;
  font-size: 18px;
  list-style-type:circle;
}

.about-me_aside a {
  width: fit-content;
  margin-inline:  auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 1rem;
  border-radius: 8px;
  font-weight: 900;
  color: var(--color-off-white);
  background: transparent;
  border: 2px solid var(--color-off-white);
  text-decoration: none;
  transition: all 300ms ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.about-me_aside a:hover, .about-me_aside a:active {
  transform: scale(1.05);
}

.card-wrapper {
 display: grid;
 grid-template-columns: repeat(8, 1fr);
 grid-template-rows: repeat(8, auto);
 grid-gap: 2rem;
 position: relative;
 z-index: 500;
 width: 100%;
 max-width: 1500px;
 margin: 0 auto;
 height: 90vh;
}

.flip-card {
  position: relative;
  perspective: 1000px;
  height: 100%;
  width: 100%;
  transition: all 300ms ease;
  border-radius: 8px;
}
#flip-card_1 {
  grid-column: 1 / 5;
  grid-row: 1 / 5;
}

#flip-card_2 {
  grid-column: 5 / 9;
  grid-row: 2 / 5;
}

#flip-card_3 {
  grid-row: 5 / 9;
  grid-column: 5 / 9;
}

#flip-card_4 {
  grid-row: 5 / 8;
  grid-column: 1 / 5;
}

.flipped > .projects-card_front {
  transform: rotateY(-180deg);
}

.flipped > .projects-card_back {
  transform: rotateY(0deg);
}

.flip-card:hover, .flip-card:active {
  transform: scale(1.02);
}

.projects-card_front, .projects-card_back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  background: black;
  transition: 0.3s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(254,251,234,0.5);
  -moz-box-shadow: 0px 0px 10px 2px rgba(254,251,234,0.5);
  box-shadow: 0px 0px 10px 2px rgba(254,251,234,0.5);
}

.projects-card_front {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: all 300ms ease;
}

.projects-card_back {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  border-radius: 8px;
}

.projects-card_back p{
  padding: 1rem;
}

.icon-wrapper {
  display: flex;
  gap: 2rem;
  margin-top: 2em;
}

.projects-card_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.5);
  backdrop-filter: blur(10px);
}

.projects-card_back svg {
  fill: var(--color-off-white);
  transition: all 500ms ease;
}

.projects-card_back svg:hover {
  fill: var(--color-off-white_darker);
  transform: translateY(-3px);
}

.projects-card_back svg:active {
  fill: var(--color-off-white_darker);
  transform: translateY(-3px);
}

.projects-card:hover, .projects-card:active {
  transform: scale(1.02);
}

#projects-card_1 {
  background: url(assets/travel-app-screenshot.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#projects-card_2 {
  background: url(assets/little-lemon-screeshot.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  grid-area: 2;
}

#projects-card_3 {
  background: url(assets/travel-app-screenshot.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  grid-area: 3;
}

#projects-card_4 {
  background: url(assets/github-clone-screenshot.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  grid-area: 4;
}

.projects-card_title {
  font-size: 32px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  padding: 1rem;
}

.projects-card_tools {
  bottom: 2rem;
  font-weight: 700;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

#more-icon {
  font-size: 36px;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding-inline: 0.5rem;
  border-radius: 8px;
  background: rgba(0,0,0,.5);
  backdrop-filter: blur(10px);
}

#close-icon {
  font-size: 36px;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

#contact-form {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  padding-top: 5rem;
  position: relative;
  z-index: 500;
}

input, textarea {
  padding: 1rem;
  border-radius: 8px;
  background: var(--color-off-white);
  border: none;
  color: black;
  width: 100%;
}

textarea {
  min-height: 300px;
  margin-bottom: 2rem;
}

label {
  width: 150px;
  font-size: 24px;
}

.input-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 2rem;
}

.contact-form_button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#contact-form button {
  margin-bottom: 2rem;
  border: 1px solid var(--color-off-white);
  background: black;
  color: var(--color-off-white);
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}

#contact-form button:hover, #contact-form button:active {
  transform: scale(1.05);
}

footer {
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 20px;
  color: var(--color-off-white);
}

footer p {
  font-family: Fira Code, Roboto Mono, monospace;
}

.icon {
  width: 3em;
  height: 3em;
  vertical-align: -0.125em;
}

footer svg {
  fill: var(--color-off-white);
  transition: all 500ms ease;
}

footer svg:hover {
  fill: var(--color-off-white_darker);
  transform: translateY(-3px);
}

footer svg:active {
  fill: var(--color-off-white_darker);
  transform: translateY(-3px);
}

.thank-you-button {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background: black;
  color: var(--color-off-white);
  border: 2px solid var(--color-off-white);
  transition: all 300ms ease;
  cursor: pointer;
  text-decoration: none;
}

.thank-you-button:hover, .thank-you-button:active {
  transform: scale(1.05);
}

@media only screen and (max-width: 1100px) {
    #header-logo {
    height: 2rem;
  }

  #hero-button {
    font-size: 16px;
  }

  .about-me_wrapper {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 905px) {

  #hero-button {
    font-size: 12px;
    margin-right: 0;
  }

  .hero-button_wrapper {
    justify-content: center;
  }

  .screen-wrapper {
    top: 9rem
  }


  .primary-navigation {
    --gap: 2rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 40%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    background-color: hsl(0 0% 0% / 0.5);
    backdrop-filter: blur(1rem);
    transform: translateX(100%);
    transition: transform 500ms ease-out;
    margin-right: 0;
  }

  .primary-navigation a:not(#resume-link) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-left: none;
    border-right: none;
  }

  .primary-navigation[data-visible="true"] {
    transform: translate(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background-color: transparent;
    background-image: url("/assets/burger-menu-svgrepo-com.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 1rem;
    right: 2rem;
    z-index: 9999;

  }

  .mobile-nav-toggle[aria-expaned="true"] {
    background-image: url("/assets/close-bold-svgrepo-com.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  #hero {
    padding-top: 4rem;
  }

  #about-me, #projects, #resume, #contact-me {
    scroll-margin-top: 4.5rem;
  }

  .card-wrapper {
    grid-template-rows: repeat(4, 300px);
    margin-top: 6rem;
    height: auto;
  }

  #flip-card_1 {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
  }

  #flip-card_2 {
    grid-column: 1 / 9;
    grid-row: 2 / 3;
  }

  #flip-card_3 {
    grid-column: 1 / 9;
    grid-row: 3 / 4;
  }

  #flip-card_4 {
    grid-column: 1 / 9;
    grid-row: 4 / 5;
  }

  .section-title {
    top: 0;
    bottom: none;
  }
}


@media only screen and (min-width: 600px) {
  #socials {
    position: fixed;
    flex-direction: column;
    right: 30px;
    bottom: 20px;
  }

  .main-section {
    margin-inline: 4.5rem;
  }
}
/* utility classes */

.flex {
  display: flex;
  gap: var(--gap);
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper, .about-me_wrapper {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .wrapper, .about-me_wrapper {
    width: 85%;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1199px){
  .wrapper, .about-me_wrapper {
    width: 75%;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper, .about-me_wrapper {
    width: 65%;
  }
}

.thank-you {
  padding-top: 7rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thank-you h1 {
  font-family: 'Anton', sans-serif;
  text-align: center;
}

.thank-you h2 {
  font-family: 'Slabo 27px, serif';
  text-align: center;
}




